.main_stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  height: 45vh;
  min-height: 350px;
  width: 18vw;
  background: #090420;
  border-radius: 3rem;
  margin-bottom: 2vh;
  @media (max-width: 1777px) {
    width: 70%;
  }
  .logo_block {
    margin-bottom: 20px;
    .logo {
      color: #aadaff;
      font-size: 3.5vh;
      &_underline {
        color: #aadaff;
        font-size: 1vh;
        text-align: center;
      }
    }
  }
  .stats_title {
    color: #aadaff;
    font-size: 2.8vh;
    font-weight: bold;
  }
  ul {
    width: 90%;
    list-style: none;
    padding: 0;
    li {
      display: flex;
      flex-direction: row;
      margin-bottom: 3vh;
      @media (max-width: 1777px) {
        margin-bottom: 2vh;
      }
      p {
        color: #aadaff;
        margin: 0;
        font-size: 1.8vh;
      }
      .dashed_underline {
        flex: 1;
        border-bottom: 1px dotted white;
      }
      .best {
        color: #40cb54;
      }
      .worst {
        color: #f04242;
      }
    }
  }
}
