.timer_block {
  margin-left: 3vw;
  margin-bottom: 2vh;
  width: 50vw;
  min-width: 90px;
  height: 45vh;
  background: #090420;
  border-radius: 3rem;
  padding: 20px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 1777px) {
    width: 70%;
    margin-left: 0;
  }
  .scramble_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .scramble {
      width: 100%;
      font-size: 1.8vh;
      text-align: center;
      margin-bottom: 10px;
      @media (max-width: 560px) {
        width: 50%;
      }
    }
    button {
      width: 30px;
      height: 30px;
      background: 0;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  .start_hint {
    font-family: "Righteous";
    font-size: 1.8vh;
  }
  .timer {
    font-family: "Kode Mono";

    font-size: 12vh;
    &__green {
      color: #40cb54;
      font-family: "Kode Mono";
      font-size: 12vh;
    }
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15vw;
    height: auto;
    min-width: 200px;
    // min-height: 50px;

    .action_btn {
      background: #17153a;
      border: 0;
      width: 5vw;
      min-width: 70px;
      height: 5vh;
      border-radius: 5rem;
      font-family: "Righteous";
      font-size: 1.8vh;
      &__active {
        background: #17153a;
        border: 0.3rem solid #aadaff;
        width: 5vw;
        height: 5vh;
        border-radius: 5rem;
        font-family: "Righteous";
        font-size: 1.8vh;
        color: #aadaff;
      }
      &:hover {
        border: 0.1rem solid #aadaff;
      }
      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
