.current_stats {
  height: 40vh;
  min-height: 320px;
  width: 15vw;
  background: #090420;
  border-radius: 3rem;
  padding: 20px;
  margin-left: 3vw;
  @media (max-width: 1777px) {
    width: 70%;
    margin-left: 0;
    margin-bottom: 2vh;
  }
  &__title {
    color: #aadaff;
    width: 100%;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    li {
      display: flex;

      p {
        color: #aadaff;
        font-size: 1.8vh;
      }
      .dashed_underline {
        flex: 1;
        border-bottom: 0.2vh dotted white;
      }
    }
  }
}
