.header {
  margin-bottom: 20px;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vh;
  .to_main {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: #090420;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo_block {
    padding: 1vh 3vw;
    background-color: #090420;
    border-radius: 5rem;
    .logo {
      color: #aadaff;
      font-size: 3.5vh;
      &_underline {
        color: #aadaff;
        font-size: 1vh;
        text-align: center;
      }
    }
  }
  .clear_session {
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 6vh;
    border-radius: 5rem;
    background: #090420;
    color: #aadaff;
    font-family: "Lunasima";
    font-size: 2vh;
    &:hover {
      border: 0.1rem solid #aadaff;
    }
  }
}
