* {
  color: white;
  font-family: "Lunasima";
}

body {
  margin: 0;
  background: #090420;
  padding-top: 20px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  .wrapper {
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 80px;
    justify-content: space-between;
    border-radius: 36px;
    background: #17153a;
    width: 1200px;
    height: 70%;
    @media (max-width: 1696px) {
      padding: 10px;
      flex-direction: column;
      align-items: center;
    }

    .solves {
      width: 100%;
      min-height: 0px;
      max-height: 700px;
      .th {
        margin: 0;
        margin-bottom: 20px;
        background-color: #090420;
        border-radius: 36px;
        height: 70px;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li {
          color: #aadaff;
          font-size: 30px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 90%;
          border-right: 1px solid #aadaff;
          &:nth-last-child(2) {
            width: calc(200% + 200px);
            border-right: none;
          }
          &:nth-last-child(1) {
            width: 30px;
            border-right: none;
          }
        }
      }
    }
  }
}
