* {
  color: white;
  font-family: "Lunasima";
}

body {
  margin: 0;
  background: #090420;
  padding-top: 20px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 80px;
    justify-content: space-between;
    border-radius: 36px;
    background: #17153a;
    width: 70%;
    height: 800px;
    .main-stats {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      height: 410px;
      width: 274px;
      background: #090420;
      border-radius: 36px;
      .logo-block {
        margin-bottom: 20px;
        .logo {
          color: #aadaff;
          font-size: 40px;
          &-underline {
            color: #aadaff;
            font-size: 12px;
            text-align: center;
          }
        }
      }
      .stats-title {
        color: #aadaff;
        font-size: 32px;
        font-weight: bold;
      }
      ul {
        width: 90%;
        list-style: none;
        padding: 0;
        li {
          display: flex;
          flex-direction: row;
          margin-bottom: -5px;
          p {
            color: #aadaff;
          }
          .dashed-underline {
            flex: 1;
            border-bottom: 1px dotted white;
          }
          .best {
            color: #40cb54;
          }
          .worst {
            color: #f04242;
          }
        }
      }
    }
    .timer-block {
      width: 73%;
      min-width: 400px;
      height: 410px;
      background: #090420;
      border-radius: 36px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .scramble-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .scramble {
          width: 100%;
          font-size: 20px;
          text-align: center;
          margin-bottom: 10px;
        }
        button {
          width: 30px;
          height: 30px;
          background: 0;
          border: 0;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      .start-hint {
        font-family: "Righteous";
        font-size: 20px;
      }
      .timer {
        font-family: "Kode Mono";

        font-size: 96px;
        &__green {
          color: #40cb54;
          font-family: "Kode Mono";
          font-size: 96px;
        }
      }
      .actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        .action-btn {
          background: #17153a;
          border: 0;
          width: 86px;
          height: 54px;
          border-radius: 25px;
          font-family: "Righteous";
          font-size: 20px;
          &__active {
            @extend .action-btn;
            color: #aadaff;
          }
          &:hover {
            border: 1px solid #aadaff;
          }
          &:active {
            border: 2px solid #aadaff;
          }
        }
      }
    }
    .last-solves {
      width: 296px;
      height: 350px;
      display: flex;
      align-items: center;
      border-radius: 36px;
      justify-content: space-between;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 24px;
        width: 100%;
        height: 45px;
        background-color: #090420;
        text-align: center;
        border-radius: 36px;
        margin-bottom: 20px;
        color: #aadaff;
      }
      ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        .no-solves {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 36px;
          width: 100%;

          height: 150px;

          background: #090420;
        }
        li {
          display: flex;
          flex-direction: row;

          justify-content: space-between;
          margin-bottom: 15px;
          p {
            color: #aadaff;
            font-family: "Righteous";
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 45px;
            margin: 0;
            font-size: 16px;
            background-color: #090420;
            text-align: center;
            border-radius: 36px;
          }
          .number {
            width: 35%;
          }
          .time {
            width: 64%;
          }
          &:nth-child(1) {
            p {
              font-weight: bold;
              font-family: "Lunasima";
            }
          }
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 36px;
        color: #aadaff;
        background: #090420;
        font-size: 24px;
      }
    }
    .timer-underline {
      width: 75%;
      height: 350px;
      display: flex;
      justify-content: space-between;
      .current-stats {
        width: 30%;
        height: 310px;
        background: #090420;
        border-radius: 36px;
        padding: 20px;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 0;
          padding: 0;
          li {
            display: flex;

            p {
              color: #aadaff;
              font-size: 20px;
            }
            .dashed-underline {
              flex: 1;
              border-bottom: 1px dotted white;
            }
          }
        }
      }
    }
    .scramble-visualization {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 310px;
      background: #090420;
      border-radius: 36px;
    }
    .solves {
      width: 100%;
      .header {
        margin-bottom: 20px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .to-main {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #090420;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        .logo-block {
          padding: 12px 58px;
          background-color: #090420;
          border-radius: 36px;
          .logo {
            color: #aadaff;
            font-size: 40px;
            &-underline {
              color: #aadaff;
              font-size: 12px;
              text-align: center;
            }
          }
        }
        .clear-session {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 70px;
          border-radius: 36px;
          background: #090420;
          color: #aadaff;
          font-family: "Lunasima";
          font-size: 24px;
        }
      }
      .th {
        margin: 0;
        margin-bottom: 20px;
        background-color: #090420;
        border-radius: 36px;
        height: 70px;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        li {
          color: #aadaff;
          font-size: 30px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 90%;
          border-right: 1px solid #aadaff;
          &:nth-last-child(1) {
            width: 200%;
            border-right: none;
          }
        }
      }
      .table-body {
        height: 50%;
        overflow: auto;
        width: 100%;
        .no-solves {
          width: 100%;
          display: flex;
          justify-content: center;
          font-size: 36px;
          color: #aadaff;
          font-family: "Lunasima";
        }
        .table-item {
          margin: 0;
          margin-bottom: 10px;
          height: 40px;
          padding: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          li {
            border-radius: 36px;
            background: #090420;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 94%;
            margin: 0 1%;
            height: 40px;
            &:nth-last-child(1) {
              width: 200%;
            }
          }
        }
      }
    }
  }
}
